name: Deploy to Staging

on:
  push:
    branches:
      - master

jobs:
  deploy:
    runs-on:
      - self-hosted
      - staging
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Generate .env for Docker Compose
        run: |
          cat <<EOF > .env
          PROJECT_NAME="MikiBoxd"
          ENVIRONMENT=staging
          DOMAIN=staging.mi-ki.nl
          STACK_NAME=mikiboxd-staging
          SECRET_KEY=${{ secrets.SECRET_KEY }}
          FIRST_SUPERUSER=admin@example.com
          FIRST_SUPERUSER_PASSWORD=${{ secrets.FIRST_SUPERUSER_PASSWORD }}
          EMAILS_FROM_EMAIL=${{ secrets.EMAILS_FROM_EMAIL }}
          POSTGRES_USER=${{ secrets.POSTGRES_USER }}
          POSTGRES_DB=${{ secrets.POSTGRES_DB }}
          POSTGRES_SERVER=db
          POSTGRES_PORT=5432
          POSTGRES_PASSWORD=${{ secrets.POSTGRES_PASSWORD }}
          TELEGRAM_BOT_TOKEN=${{ secrets.TELEGRAM_BOT_TOKEN }}
          TELEGRAM_USER_ID=${{ secrets.TELEGRAM_USER_ID }}
          TMDB_KEY=${{ secrets.TMDB_KEY }}
          FRONTEND_HOST=https://dashboard.staging.mi-ki.nl
          POSTGRES_TESTING_SERVER=db
          POSTGRES_TESTING_POST=5432
          POSTGRES_TESTING_DB=app_test
          POSTGRES_TESTING_USER=postgres
          POSTGRES_TESTINGPASSWORD=changethis
          DOCKER_IMAGE_BACKEND=backend
          DOCKER_IMAGE_FRONTEND=frontend
          BACKEND_CORS_ORIGINS="https://mi-ki.nl,https://www.mi-ki.nl,https://api.mi-ki.nl,https://staging.mi-ki.nl"
          SMTP_HOST=${{ secrets.SMTP_HOST }}
          SMTP_USER=${{ secrets.SMTP_USER }}
          SMTP_PASSWORD=${{ secrets.SMTP_PASSWORD }}
          SMTP_TLS=True
          SMTP_SSL=False
          SMTP_PORT=587
          # SENTRY_DSN=${{ secrets.SENTRY_DSN }}
          EOF
      - run: docker compose -f docker-compose.yml --project-name mikiboxd-staging build
      - run: docker compose -f docker-compose.yml --project-name mikiboxd-staging up --detach
